.App {
  background-color: rgb(232, 243, 248);
  text-align: center;
  padding-top: 5vw;
  max-width: 100%;
  min-height: 100vh;
  /* font-size: 100%; */
  color: rgb(129, 168, 184);

  display: flex;
  flex-direction: column;
}
label {
  margin-right: 2%;
}
input {
  width: 75%;
}

#error {
  margin-top: 200px;
}

.main_title {
  font-family: "Nerko One", cursive;
  font-size: calc(1rem + 3.6vw);
}

.main_content {
  flex-grow: 1;
}

.location_form {
  margin-top: 2%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.response {
  margin-top: 5%;
}

@media screen and (min-width: 768px) {
  input {
    width: 25%;
  }
}
